footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  background-color: rgb(234, 237, 240);
  height: 40px;
}

.footer__plus-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.footer__paper-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footer__msg {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
}

.footer__msg-info {
  font-size: 12px;
  color: rgb(167, 176, 189);
}

.footer__smile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.footer__smile-icon {
  width: 20px;
  height: 20px;
}

.smile__dot-pocket {
  width: 5px;
  height: 25px;
  padding-top: 2px;
}

.smile__dot {
  width: 5px;
  height: 5px;
  background-color: orange;
  border-radius: 10px;
}
